{% extends 'base.html'%} {% block content %}
<h1>All Recipes</h1>
<div class="row col s12">
	{% for recipe in recipes %}
	<ul class="collapsible" data-collapsible="expandable">
		<li>
			<div class="collapsible-header"> <img class="recipe-list" src="{{recipe.image_link}}"><h5>{{recipe.recipe_name}}</h5><i class="material-icons prefix">arrow_downward</i></div>
      <div class="collapsible-body">

          <div class="row col s12">
              <div class="row col s3">
          <h5>Serves:</h5> <p>{{recipe.serves}}</p>
              </div>
              <div class="row col s3">
          <h5>Cooks In:</h5><p>{{recipe.cooks_in}}</p>
              </div>
              <div class="row col s312">
          <h5>Difficulty:</h5>
          <p>{{recipe.difficulty}}</p>
          </div>
          </div>
<div class="row">
          <h5>Description:</h5>
          <span>{{recipe.description}}</span>
          </div>
<div class="row">
          <div class="row col s6">
              <h5>Ingredients</h5>
              <p>{{recipe.ingredients}}</p>
              </div>
              <div class="row col s6">
              <h5>Instructions</h5>
              <p>{{recipe.instructions}}</p>
              </div>
</div>
<div class="col s3">
                   <a href ="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small red">Delete Recipe</a>
                    <a href ="{{url_for('edit_recipe', recipe_id=recipe._id)}}"class="waves-effect waves-light btn btn_small green">Edit</a>

                </div>
</div>



    </li>
     </ul>

     {% endfor %}

  </div>

 {% endblock %}